<?xml version="1.0"?>
<config>
	<modules>
		<Itella_Cod>
			<version>1.0.0</version>
		</Itella_Cod>
	</modules>

	<global>
        <models>
            <itella_cod>
                <class>Itella_Cod_Model</class>
            </itella_cod> 
        </models>
		<helpers>
			<itella_cod>
				<class>Itella_Cod_Helper</class>
			</itella_cod>
		</helpers>

		<blocks>
			<itella_cod>
				<class>Itella_Cod_Block</class>
			</itella_cod>
		</blocks>

		<resources>
			<itella_cod_setup>
				<setup>
					<module>Itella_Cod</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</itella_cod_setup>

			<itella_cod_write>
				<connection>
					<use>core_write</use>
				</connection>
			</itella_cod_write>

			<itella_cod_read>
				<connection>
					<use>core_read</use>
				</connection>
			</itella_cod_read>
		</resources>

		<sales>
			<quote>
				<totals>
					<itella_cod>
						<class>itella_cod/sales_quote_address_total_fee</class>
						<after>tax</after>
						<before>grand_total</before>
					</itella_cod>
				</totals>
			</quote>
			<order>
				<totals>
					<itella_cod>
						<class>itella_cod/quote_total</class>
						<after>tax</after>
						<before>grand_total</before>
					</itella_cod>
					<itella_cod_tax>
						<class>itella_cod/quote_tax</class>
						<after>tax</after>
						<before>grand_total</before>
					</itella_cod_tax>
				</totals>
			</order>
			<order_invoice>
                <totals>
                    <itella_cod>
                       <class>itella_cod/order_total</class>
						<after>tax</after>
						<before>grand_total</before>
                    </itella_cod>
                </totals>
            </order_invoice>           
            <order_creditmemo>
                <totals>
                    <itella_cod>
                       <class>itella_cod/creditmemo_total</class>
						<after>tax</after>
						<before>grand_total</before>
                    </itella_cod>
 					<itella_cod_tax>
						<class>itella_cod/creditmemo_tax</class>
						<after>tax</after>
						<before>grand_total</before>
					</itella_cod_tax>
               </totals>
            </order_creditmemo>
			<totals_sort>
			    <itella_cod>15</itella_cod>
			</totals_sort>
		</sales>
		
		<fieldsets>
			<sales_convert_quote>
                <itella_cod_fee><to_order>*</to_order></itella_cod_fee>			
			</sales_convert_quote>
			<sales_convert_order>
                <itella_cod_fee><to_quote>*</to_quote></itella_cod_fee>		
			</sales_convert_order>
			<sales_convert_order_address>
                <itella_cod_fee><to_quote_address>*</to_quote_address></itella_cod_fee>				
			</sales_convert_order_address>
            <sales_convert_quote_address>
                <itella_cod_fee><to_quote>*</to_quote><to_order>*</to_order></itella_cod_fee>			
            </sales_convert_quote_address>
        </fieldsets>
        
        <pdf>
			<totals>
				<itella_cod translate="title">
					<title>Itella Cash On Delivery</title>
					<source_field>itella_cod</source_field>
					<model>itella_cod/order_pdf_total_default</model>
					<font_size>7</font_size>
					<display_zero>0</display_zero>
					<sort_order>251</sort_order>
				</itella_cod>
			</totals>
		</pdf>
	</global>

	<adminhtml>		
		<layout>
			<updates>
				<itella_cod>
					<file>itella_cod/cod_fee.xml</file>
				</itella_cod>
			</updates>
		</layout>
		<translate>
			<modules>
				<itella_cod>
					<files>
						<default>Itella_Cod.csv</default>
					</files>
				</itella_cod>
			</modules>
		</translate>
	</adminhtml>

	<frontend>
		<layout>
			<updates>
				<itella_cod>
					<file>itella_cod/cod_fee.xml</file>
				</itella_cod>
			</updates>
		</layout>
		<translate>
			<modules>            
				<itella_cod>                  
					<files>           
						<default>Itella_Cod.csv</default>                
					</files>
				</itella_cod>
			</modules>
		</translate>
	</frontend>

	<default>
		<itella_cod>
			<general>
				<enabled>1</enabled>
			</general>
		</itella_cod>
		<payment>
			<itella_cod>
				<active>1</active>
				<model>itella_cod/cashondelivery</model>
				<order_status>pending</order_status>
				<title>Itella Cash on delivery</title>
				<payment_action>authorize</payment_action>
				<allowspecific>0</allowspecific>
				<specificcountry>LT,LV,EE,FI</specificcountry>
				<calc_including_shipping>0</calc_including_shipping>
				<calc_including_taxes>1</calc_including_taxes>
			</itella_cod>
		</payment>
		<sales>
			<totals_sort>
				<itella_cod_fee>1000</itella_cod_fee>
			</totals_sort>
		</sales>
	</default>
	
</config>